<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded header-container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">
      <img src="assets/img/aspi_swag.png" width="40" height="40" class="d-inline-block align-top" alt="">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" *ngIf="isMaid === false">
        <a class="nav-link" routerLink="/map">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="isMaid">
        <a class="nav-link" routerLink="/acceuil">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/menages">Mes ménages</a>
      </li>
    </ul>
  </div>
  <div class="my-2 my-lg-0">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>personn</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>{{getLogin()}}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </div>
</nav>
<div class="container-fluid header-bottom">
  <div class="row">
    <div class="col-md-12">
      <h4 class="title" >{{title}}</h4>
    </div>
  </div>
</div>
