<app-header [title]="'Choisissez votre région'"></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="5">
        <agm-marker *ngFor="let marker of markers"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng"
                    [opacity]="marker.alpha"
                    [markerDraggable]="false"
                    (markerClick)="selectMarker(marker,$event)"
                    (mouseOver)="openInfo(infoWindow, $event)"
                    (mouseOut)="closeInfo(infoWindow, $event)"><agm-info-window #infoWindow>{{marker.region}}</agm-info-window></agm-marker>

      </agm-map>
    </div>
    <div class="col-md-5">
      <h5>A propos de Maid Home</h5>
      <p class="description">
        Avec une importante quantitée d’utilisateurs répartis dans toutes les régions de France, MAID HOME est une Application permettant de recenser les différentes femmes/hommes de ménage les plus proche de chez soi avec la possibilité de consulter leur profil. L’application permet
        également à nos utilisateurs de demander les services aux femmes/hommes de ménages. Il est également possible de laisser des commentaires et noter leur service. Un concept unique et innovant qui permettra de simplifier vos recherches.
      </p>
      <h5>Qui sommes nous ?</h5>
      <p class="description">Nous sommes cinq étudiants : Antonin CATRIX, Geoffrey SOULAQUES, Adrien GAVORY, Yann Lukowiak et Valentin HUDZIAK en
        seconde année à l’EPSI, nous avons créé cette application lors du projet POIN proposé par notre établissement</p>
      <h5>Comment ça marche ?</h5>
      <p class="description">N'attendez plus et cliquez sur la région de votre choix pour découvrir toutes les femmes/hommes de ménage près de chez vous.  Glissez vers la gauche pour découvrir tout les profils,
        vous avez la possibilité de prendre un rendez vous ainsi que de notez les différents profils</p>
    </div>
  </div>
</div>

<app-footer [isSticky]="false"></app-footer>


