.example-card {
    max-width: 500px;
    margin-left: 16px;
    margin-right: 16px;
}

.card-femme {
    margin-top: 2em;
}

.example-header-image {
    background-size: cover;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}


.leftRs {
    visibility: hidden;
}

.rightRs {
    visibility: hidden;
}

